In [1]:
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as psql
import sqlite3

In [2]:
conn = sqlite3.connect('student.db')

In [3]:
df = psql.read_sql('SELECT * FROM student_marks', conn)

In [4]:
df

    class_no     name  gender  age  marks
0          1      ram       1   12     80
1          1   shyam        1   14     45
2          1      ram       1   15     65
3          1    pooja       0   12     90
4          1  deepika       0   28     95
5          1    mohan       1   26     75
6          2    sita        0   19     95
7          2     gita       0   17     10
8          2   perter       1   22     15
9          2     john       1   56     78
10         3      ram       1   52     63
11         3     alex       1   12     56
12         3     anna       0   45     45
13         3     tony       1   78     89
14         3     alex       0   23     87

In [5]:
# df = pd.get_dummies(df)

In [6]:
df = df.drop('name', axis=1)

In [7]:
y = df['marks']
X = df.drop('marks', axis=1)

In [8]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

In [9]:
Y_pred_test = model.predict(X)

In [10]:
import numpy as np

In [11]:
Y_pred_test = model.predict(np.array([[1,1,56]]))

/home/abhi/anaconda3/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [12]:
Y_pred_test

array([88.41447523])

In [13]:
import pickle
# from sklearn.linear_model import LogisticRegression
# # Fit the model on training set
# model = LogisticRegression()
# model.fit(X_train, Y_train)
# # save the model to disk
filename = 'linear_regression_model.sav'
pickle.dump(model, open(filename, 'wb'))
 
# some time later...
 
# # load the model from disk
# loaded_model = pickle.load(open(filename, 'rb'))
# result = loaded_model.score(X_test, Y_test)
# print(result)

In [36]:
# pd.DataFrame([[3, 'Amit', 21], [4, 'Amit', 21]])

   0     1   2
0  3  Amit  21
1  4  Amit  21

In [15]:
import plotly.express as px
import numpy
 
# Random Data
random_x = [85, 75, 50]
names = ['A', 'B', 'C']

for i in len(random_x):
    fig = px.pie(values=random_x[i], names=names)
    fig.show()
 
# fig = px.pie(values=random_x, names=names)
# fig.show()

ValueError: String or int arguments are only possible when a DataFrame or an array is provided in the `data_frame` argument. No DataFrame was provided, but argument 'values' is of type str or int.